USE [master]
GO
/****** Object:  Database [LearnHub]    Script Date: 02/12/2023 06:48:01 p. m. ******/
CREATE DATABASE [LearnHub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LearnHub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LearnHub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LearnHub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LearnHub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LearnHub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LearnHub]
GO
/****** Object:  User [Admin_LearnHub]    Script Date: 02/12/2023 06:48:01 p. m. ******/
CREATE USER [Admin_LearnHub] FOR LOGIN [Admin_LearnHub] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Admin_LearnHub]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [Admin_LearnHub]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [Admin_LearnHub]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Admin_LearnHub]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Admin_LearnHub]
GO
/****** Object:  Table [dbo].[cursos]    Script Date: 02/12/2023 06:48:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cursos](
	[id_curso] [int] NOT NULL,
	[nombre_del_curso] [varchar](50) NOT NULL,
	[Duracion_(Horas)] [int] NOT NULL,
	[materias_id_materia] [int] NOT NULL,
	[profesor_id_profesor] [int] NOT NULL,
	[descripcion] [varchar](50) NULL,
	[estudiantes_id_estudiante] [int] NOT NULL,
 CONSTRAINT [cursos_pk] PRIMARY KEY CLUSTERED 
(
	[id_curso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiantes]    Script Date: 02/12/2023 06:48:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantes](
	[id_estudiante] [int] NOT NULL,
	[Nombre(s)] [varchar](50) NOT NULL,
	[Apellido(s)] [varchar](50) NOT NULL,
 CONSTRAINT [estudiantes_pk] PRIMARY KEY CLUSTERED 
(
	[id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materias]    Script Date: 02/12/2023 06:48:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materias](
	[id_materia] [int] NOT NULL,
	[materia] [varchar](50) NOT NULL,
 CONSTRAINT [materias_pk] PRIMARY KEY CLUSTERED 
(
	[id_materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesor]    Script Date: 02/12/2023 06:48:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesor](
	[id_profesor] [int] NOT NULL,
	[Nombre(s)] [varchar](50) NOT NULL,
	[Apellido(s)] [varchar](50) NOT NULL,
	[cursos_id_curso] [int] NOT NULL,
 CONSTRAINT [profesor_pk] PRIMARY KEY CLUSTERED 
(
	[id_profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [cursos__idx]    Script Date: 02/12/2023 06:48:01 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [cursos__idx] ON [dbo].[cursos]
(
	[profesor_id_profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [profesor__idx]    Script Date: 02/12/2023 06:48:01 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [profesor__idx] ON [dbo].[profesor]
(
	[cursos_id_curso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cursos]  WITH CHECK ADD  CONSTRAINT [cursos_estudiantes_fk] FOREIGN KEY([estudiantes_id_estudiante])
REFERENCES [dbo].[estudiantes] ([id_estudiante])
GO
ALTER TABLE [dbo].[cursos] CHECK CONSTRAINT [cursos_estudiantes_fk]
GO
ALTER TABLE [dbo].[cursos]  WITH CHECK ADD  CONSTRAINT [cursos_materias_fk] FOREIGN KEY([materias_id_materia])
REFERENCES [dbo].[materias] ([id_materia])
GO
ALTER TABLE [dbo].[cursos] CHECK CONSTRAINT [cursos_materias_fk]
GO
USE [master]
GO
